html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(236, 226, 213);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(43, 127, 138);
  font-family: 'Changa One';
}

.logo {
  color: rgb(247, 247, 217);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 25px;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(247, 247, 217);
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 15px;
  margin-right: 2vh;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: rgb(247, 247, 217);
  margin: 5px;
}



.img-wrapper {
  width: 100%;

}

.img-wrapper img {
  height: 63em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: auto;

}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -45%;
}

.text-wrapper h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: 5em;
  letter-spacing: 0.5em;

}





@media screen and (max-width:1024px) {
  .nav-links {
    width: 60%;
  }

  .text-wrapper h1 {
    display: none;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(43, 127, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}


.nav-active {
  transform: translateX(0%);
}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }


}